backend/chat.db
/frontend/node_modules/.cache
*.pack
/frontend/node_modules
*.db
/frontend/node_modules
.DS_Store
backend/chat.db
/backend/__pycache__
/backend/api/__pycache__
project_overview.json
scan-repo.py
/backend/uploads
